:host {
  font-family: 'Adobe Clean', adobe-clean, sans-serif;
}

.tag-browser {
  display: block;
}

.da-tag-browser {
  position:relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.da-path {
  height: 36px;
  display: flex;
  justify-content: space-between;
  line-height: 36px;
  font-size: 16px;
  padding: 0 12px;
}

.da-tag-groups {
  display: flex;
  overflow: auto;
  position: absolute;
  width:100%;
  height: calc(100% - 36px);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.da-tag-group-column {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  max-width: 264px;
  padding: 0 12px;
  box-sizing: border-box;
}

.da-tag-group-column:first-child {
  padding: 0 12px;
}

.da-tag-group .da-tag {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  line-height: 36px;
  font-size: 16px;
}

.da-tag-group-column .da-tag-details {
  width: 100%;
  display: grid;
  grid-template-columns: 32px 1fr 32px;
  gap: 12px 6px;
  justify-content: space-between;
  align-items: center;
  margin: 6px 0;
  font-size: 14px;
}

.da-tag-details label {
  font-weight: 700;
}

.da-tag-details span {
  display: block;
  text-align: center;
  overflow: auto;
}

.da-tag-path .da-tag-title,
.da-tag-group .da-tag-title {
  flex: 1;
  padding: 0 6px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.da-tag-group .da-tag-title.selected {
  cursor: default;
}

.da-tag-details button,
.da-path button,
.da-tag button {
  cursor: pointer;
  height: 32px;
  width: 32px;
  margin: 2px;
  padding: 0;
  border: none;
  display: block;
  border-radius: 2px;
  background-color: #efefef;
}

.da-tag-details button:hover,
.da-tag-group button:hover,
.da-tag-group .da-tag-title.selected,
.da-tag-group .da-tag-title:hover {
  background-color: #e9e9e9;
}

.da-tag-path::after,
.da-tag-group::after {
  content: "";
  display: block;
  height: 1px;
  background: #d1d1d1;
}
