:host {
  top: 0;
  position: fixed;
  display: block;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  z-index: 999999;
}

:host(.da-show) {
  opacity: 1 !important;
}

.hlx-sk {
  position: unset;
}

.plugin.edit,
.plugin.reload,
.plugin.publish {
  display: none;
}
